<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.loader.music"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11" 
        android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Include required permissions for Google Mobile Ads to run-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name="org.loader.music.application.App"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:theme="@style/tranAppTheme"
        android:vmSafeMode="true"
        android:allowClearUserData="true"
        android:persistent="true"
        android:hardwareAccelerated="true" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity
            android:name="org.loader.music.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/tranAppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.loader.music.activity.MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="org.loader.music.activity.PlayActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <service android:name="org.loader.music.service.PlayService"/>
        
        <service android:name="org.loader.music.service.DownloadService" />

        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <!--铃声 -->
        <activity android:name="com.ringdroid.RingdroidEditActivity"
            android:screenOrientation="portrait"

            >
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".service.MusicIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- 静态注册广播 -->
            <!-- intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 -->
            <intent-filter>
                <!--action-->
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <!-- Activity for choosing a contact to assign a ringtone to. -->
        <activity android:name="com.ringdroid.ChooseContactActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.ringdroid.RingdroidSelectActivity"
            android:configChanges="orientation|keyboardHidden">
        </activity>

    </application>

</manifest>